:root{
    --font-principal: "Roboto", monosparece;
    --texto-principal: #333333;
    --texto-titulo: #1a1a1a;
    --texto-link: #005f99;
    --linha-divisao: #dddddd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2{
    color: var(--texto-titulo);
}

p{
    color: var(--texto-principal);
}

body{
    font-family: var(--font-principal);
    background-color: #ffffff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-bottom: 1px solid var(--linha-divisao);

    position:sticky;
    top: 0;
}

.header-h1{
    font-size: 1.7rem;
    color: var(--texto-link);
}

.header-links{
    color: var(--texto-link);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.header-links a{
    text-decoration: none;
}

.section-pag1{
    width: 100%;
    height: 50vh;
    background-color: red;
    background-image: url(Imagens/Baixar\ código-fonte\ do\ desktop\ e\ papel\ de\ parede\ por\ codificação\ e\ programação_\ gratuitamente.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;   
}

.section-pag1-div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    width: 40%;
    margin: auto;
    margin-top: 68px;
}

.section-pag1-div1-img{
    width: 18rem;
    height: 18rem;
}

.section-pag1-div2{
    padding-right: 2rem;
    padding-left: 2rem;
}