:root{
    --font-principal: "Roboto", monosparece;
    --texto-principal: #333333;
    --texto-titulo: #1a1a1a;
    --texto-link: #005f99;
    --linha-divisao: #dddddd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2{
    color: var(--texto-titulo);
}

p{
    color: var(--texto-principal);
}

body{
    font-family: var(--font-principal);
    background-color: #ffffff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-bottom: px solid var(--linha-divisao);

    position:sticky;
    top: 0;
}

.header-h1{
    font-size: 1.7rem;
    color: var(--texto-link);
}

.header-links{
    color: var(--texto-link);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.header-links a{
    text-decoration: none;
    color: inherit;
}

.section-pag1{
    width: 100%;
    height: 57vh;
    background-color: red;
    background-image: url(Imagens/Baixar\ código-fonte\ do\ desktop\ e\ papel\ de\ parede\ por\ codificação\ e\ programação_\ gratuitamente.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column; 
    border-bottom: 1px solid var(--linha-divisao);  
}

.section-pag1-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.6rem;
}

.section-pag1-div1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 20rem;
    width: 42.6%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 1rem;
    box-shadow: 4px 51px 8px rgba(0, 0, 0, 0.2);

}

.section-pag1-div1-img{
    width: 20rem;
    height: 20rem;
    border-radius: 0 0 100px 0;
    border-right: 1px solid var(--linha-divisao);
}

.section-pag1-div2{
    padding-right: 2rem;
    padding-left: 2rem;
}

.section-pag1-div2 h1{
    font-size: 1.3rem;
}

.section-pag1-div2 h2{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.section-pag1-div2 p{
    font-size: 1rem;
}

.section-pag1-div2-p{
    margin-bottom: 1rem;
}

.section-pag1-div3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42.6%;
    margin: auto;
    margin-top: -1rem;
    background-color: var(--texto-link);
    height: 3rem;
    gap: 1.5rem;
}

.section-pag1-div3 img{
    width: 1.7rem;
    height: 1.7rem;
}

.section-pag1-div4{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
}

.section-pag1-div4 h2{
    padding-bottom: 1rem;
}